html
{
    width:960px;
}
header{
    position: relative;
}
#firstSection{
    display:inline-block;
}
.logo-text-one{
    display:inline-block;
    position:absolute;
    margin-top: 0.3em;
    margin-left: 0.2em;
}
.logo-text-two{
    display:inline-block;
    position:absolute;
    margin-top: 1.65em;
    margin-left: 0.2em;
    font-size: 0.75em;
}

.section-icons{
    display:inline-block;
    position: absolute;
    margin-left:41em;
    margin-top:0.5em;
}
.line{
    border: 2px solid gray;
    opacity: 0.5;
    width:100%
}
.chocolate-title{
    display:inline-block;
}
.title-header{
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
}
.title-posted{
    margin-top:0.5em;
    font-size: 0.75em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.print-section{
    display:inline-block;
    float:right;
    margin-right:1em;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 1em
}
#printIcon{
    display: inline-block;
}
#printText{
    display:inline-block;
}
#chocoPic{
    margin-top: 2em;
    margin-left:0.75em;
}
.para-section{
    opacity: 0.7;
    font-size: 1.3em;
}
#firstPara, #secondPara, #thirdPara{
    margin-top: 0.75em;
    text-indent:2em;
}